/* General styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #333;
  margin: 0;
  padding: 0;
  color: #f9f9f9;
}

/* Header section */
header {
  display:flex; /*puts items side by side*/
  flex-direction: column; /*stacks image and text on small screens*/
  justify-content: space-between; /*creates space btwn text and image*/
  align-items: center;
 text-align: center;
  padding:20px 20px;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  flex: 1;
}

header p {
  font-size: 2.0rem;
}

/* About section */
#about {
  padding: 0;
  max-width: 900px;
  margin: auto;
}

#about h2 {
text-align: center;
}

#about p {
  line-height: 1.6;
  text-align: left;
}

/* Projects section */
#projects {
background-color: #333;
color: #f9f9f9;
  padding: 20px 10px;
  max-width: 900px;
  margin: auto;
}

#projects h2 {
  
  text-align: center;
  margin-bottom: 30px;
}

.project-card {
  background: #333
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

/*.project img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;*/

.photo {
  width:200px;
  height: 200px;
  border-radius: 50%;
 overflow: hidden;
}
.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position :center-top;
  }
/* Skills section */
  #skills {
  max-width: 700px;
  margin: 50px auto;
  padding: 0 20px;
}

#skills h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #f9f9f9;
}

.skill {
  margin-bottom: 20px;
}

.skill p {
  font-weight: 600;
  margin-bottom: 5px;
  color:#f9f9f9;
}

.bar {
  background: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  height: 10px;
}

.level {
  height: 10px;
  background: linear-gradient(90deg, #007bff, #00c6ff);
  border-radius: 10px;
  transition: width 1s ease-in-out;
}

  


/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
}
#contact {
  background-color: #333
  padding: 20px;
  text-align: center;
  font-size: 1.2rem;
}

#contact form {
  max-width: 400px;
  margin:  auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#contact input,
#contact textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

#contact button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease;
}
#contact button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
section {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

